* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Jost",sans-serif;
    scroll-behavior: smooth;
   } 
html{
    font-size:62.5%;
}
:root{
    --main-color:#fff;
    --private-color:#000;
    --three-color:#292621;
    --red-color:#FF2020;
}
a{
    text-decoration: none !important;
}
